<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">

</head>
  <body>
    <header>
      <div class="container">
        <hr style="height: 10px; background: orange; border: 0px;">
        <h1 class="logo">Homework</h1>
        <hr style="height: 7px; background: orange; border: 0px;">
        <strong><nav>
          <ul class="menu">
            <center><a href="/HA">Tasks</a></>
            <left><a href="/addtask">Add Task</a></>
            <left><a href="{{ url_for('home_blueprint.about') }}">About</a></left>
          </ul>
        </nav></strong>
      </div>
    </header>



{% block content %}
{% endblock %}

 </body>
</html>
